#chat-slide-out {
    padding: 0;
    margin: 0;
}

.chatPos{
    position: absolute;
    left: 200px;
}

.chatBorder {
    border: 3px  solid;
    border-color: #b5d7e7;
}

.chatSize {
    width: 510px;
    height: 230px;
}

.chatPostSize {
    width: 510px;
    height: 25px;
}


.chatBody {
    padding: 10px;
    margin: 0px;
}

#chat-block{
    /*display:inline-block;*/
    display: none;
    vertical-align: top;
    background: #FFFFFF;
}


.chatPost {
    padding: 10px;
    margin:  -3px 0 0 0;
    vertical-align: middle;
}


#closeImg{
    float: left;
    padding: 0px;
    height: 305px;
    width: 16px;
    cursor: pointer;
    display: none;
}

#ajaxLoader {
    margin: 20px 0 0 160px;
}

#chatSubmitButton {
    margin-top: -6px;
    width: 115px;
    height: 37px;
    border: 3px  solid;
    border-color: #b5d7e7;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    color: #b5d7e7;
    vertical-align: middle;
    line-height: 28px;
    cursor: pointer;
    float: right;
}

#chatTextField {
    width: 375px;
    border: 3px  solid;
    border-color: #b5d7e7;
    background-color: #FFFFFF;
    height: 20px;
    margin: -3px;
}

#chat-messages {
    overflow-y: scroll;
    overflow-x: hidden;
}